---
import Baselayout from "../layouts/baselayout.astro";

import PrintFooter from "src/components/print-footer.astro";
import PostFooter from "src/components/post-footer.astro";

import Tags from "src/components/tags.astro";
import { getCollection } from "astro:content";

import { sanitizeString } from "public/js/util/util";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => {
    // const slug = post.data.postSlug || sanitizeString(post.data.title);
    // const slug = post.id;
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { title, tags, pubDate, description, cover } = post.data;
console.log("cover", cover)
const { Content } = await post.render();

import { CONFIG } from "@config";

const queryFilters = {
    tags: tags,
    posts: slug
}


const heading = "<p class='mt-base strong'>You might also be interested in the following posts</p>";

import { Picture } from "astro:assets";

---

<Baselayout title={title} description={description} type="article">
  {post.data.cover && (
     <Picture
                                loading={"lazy"}
                                src={post.data.cover.src}
                                formats={["avif", "webp"]}
                                alt={post.data.cover.alt}
                                width={1280}
                                height={720}
                                widths={[240, 540, 720, 1280]}
                                sizes="(max-width: 360px) 240px, (max-width: 720px) 480px, (max-width: 1600px) 720px"
                            />
  )}
  

  <print-head>
    <h1>{CONFIG.TITLE}</h1>
    <h2>{title}</h2>
    <h3>{CONFIG.URL}</h3>
  </print-head>
  <article>
    <article-head>
      <h1>{title}</h1>
      <elt-meta
        ><elt-date
          >{
            post.data.pubDate.toLocaleDateString("en-GB", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }</elt-date
        >
        <Tags allPostTags = {tags} />
        </elt-meta>
      <h2 class="text-none">{description}</h2>

    </article-head>

    <Content />
    <PostFooter queryFilters={queryFilters} heading={heading} />
  </article>
  <PrintFooter />

</Baselayout>
