---
import Tags from "./tags.astro";
import { getCollection } from "astro:content";
import { sanitizeString } from "public/js/util/util";
const allPosts = await getCollection("posts");

const { queryFilters, heading } = Astro.props;

const tagFilters: string[] = [].concat( queryFilters?.tags || ["all"]);

const postFilters: string[] = [].concat( queryFilters?.posts || [""] );

const filteredByTag = allPosts.filter( post =>
  tagFilters.includes("all") || post.data.tags.some( tag => tagFilters.includes(tag))
);

const filteredBySlug = filteredByTag.filter( post => { 
  // const slug = post.data.postSlug || sanitizeString(post.data.title);
  const slug = post.slug;
  return !postFilters.includes(slug);
})

const posts = filteredBySlug;

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Need to add slice

const a = "a";;
---
{posts.length > 0 && (
  <elt-all-posts>
    {heading && (
      <hr>
      <elt-post-head set:html={heading}></elt-post-head>
      
    )}
    {posts.map(async (post) => {
        // Mark the map callback as async
        return (
          <elt-post>
            <elt-post-link>
              <h2>
                <a href={`${import.meta.env.BASE_URL}${post.slug}`}>{post.data.title}</a>{" "}
                
              </h2>
              <elt-date>
                {post.data.pubDate.toLocaleDateString("en-GB", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </elt-date>
            </elt-post-link>
            
            <div>
            <p class="mh-0">{post.data.description}</p>
            
          </div>
          <div>
            <Tags allPostTags = {post.data.tags} />
          </div>
          </elt-post>
        );
      })
    }
  </elt-all-posts>
)
}
